ALTER TABLE mes_production_logs ADD COLUMN IF NOT EXISTS work_category VARCHAR(5) NOT NULL DEFAULT 'MFG', ADD COLUMN IF NOT EXISTS hours_worked NUMERIC(6, 2) DEFAULT NULL; UPDATE mes_production_logs SET work_category = 'MFG' WHERE work_category IS NULL OR work_category = '';
